{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
    <form action="" method="POST">
        <label>Title</label><br>
        <input type="text" name="movie_title"> <br>
        <label>Year</label><br>
        <input type="text" name="movie_year"> <br>
        <label>Description</label><br>
        <input type="text" name="movie_description"> <br>
        <label>Rating</label><br>
        <input type="text" name="movie_rating"> <br>
        <label>Ranking</label><br>
        <input type="text" name="movie_ranking"> <br>
        <label>Review</label><br>
        <input type="text" name="movie_review"> <br>
        <label>Image url</label><br>
        <input type="text" name="movie_img_url"> <br>  <br>

        <button type="submit">Edit rating</button>
    </form>
</div>
{% endblock %}